html,
body {
  margin: 0;
}

header,
nav {
  font-family: "SF Pro Display", sans-serif;
  height: 49px;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 0.35rem;
  align-items: center;
  border-bottom: 1px solid #d7eaff;
}

.header {
  text-align: center;
  margin: 0;
}

.header p {
  font-weight: 400;
  font-size: 13px;
  color: #1a232f;
  letter-spacing: 0.8px;
  margin-right: 48px;
  margin-top: 15px;
  display: inline-block;
}

.header a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0, 8px;
  line-height: 1.2;
  color: #989ca2;
  width: 165.5px;
  height: 20px;
  padding: 6px 10px;
  vertical-align: middle;
  border: 1px solid rgba(152, 156, 162, 0.15);
  border-radius: 32px;
  position: relative;
  background-color: rgba(152, 156, 162, 0.15);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.header a:hover, .header a:focus, .header a:active {
  cursor: pointer;
}

.header a img {
  position: relative;
  top: 2.5px;
}

ul,
li,
.logo {
  display: inline-block;
  margin: 12px 0;
}

nav {
  height: 79px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: none;
  margin: 2px auto;
}

.navigation {
  flex-grow: 1;
}

.nav-icon {
  text-decoration: none;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #1a232f;
  padding: 8px;
  margin-left: 1rem;
}
.nav-icon:hover, .nav-icon:focus, .nav-icon:active {
  cursor: pointer;
  color: #3597FF;
}

.btn-nav {
  color: #fff;
  background-color: #3597FF;
  font-family: "SF Pro Display", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 45px;
  width: 156.5px;
  height: 45px;
  text-align: center;
  border: 1px solid #3597FF;
  border-radius: 6px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-nav:hover, .btn-nav:focus, .btn-nav:active {
  cursor: pointer;
}

.btn {
  margin-right: 1rem;
}

.logo {
  margin-left: 1rem;
  text-decoration: none;
}

nav .btn-nav {
  float: right;
}

.first-sec {
  height: 440px;
  font-family: "SF Pro Display", sans-serif;
  background-color: #3597FF;
  position: relative;
  z-index: -1;
  margin-bottom: 48px;
}
.first-sec aside {
  width: 100vw;
  position: absolute;
  top: 200px;
  left: calc(100vw - 250px);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.text-first-sec h1 {
  margin-top: 40px;
  margin-bottom: 24px;
  margin-left: 1rem;
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 1px;
}

.text-first-sec p {
  margin-left: 1rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
}

.text-first-sec {
  padding: 0;
  margin-bottom: 50px;
  height: 440px;
  width: 550px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-sec .container {
  background-image: url("https://openlab.sk/wp-content/themes/wp-bootstrap-starter/assets/images/main-home.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 80% 15px;
}

.second-sec {
  height: 431px;
  text-align: center;
  padding: 48px 0;
  font-family: "SF Pro Display", sans-serif;
}

.second-sec h1 {
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 1px;
  color: #212529;
  margin-bottom: 3rem;
}

.second-sec p {
  letter-spacing: 1px;
  line-height: 1.5;
  color: #566b8d;
  margin: 0 48px 16px;
}

.sec-icons {
  font-family: "SF Pro Display", sans-serif;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sec-select,
.sec-support,
.sec-intership {
  width: 306px;
  height: 151px;
  padding: 48px 12px 0px 12px;
}
.sec-select p,
.sec-support p,
.sec-intership p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
.sec-select h2,
.sec-support h2,
.sec-intership h2 {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0 0 8px 0;
}
.sec-select div,
.sec-support div,
.sec-intership div {
  padding: 16px 0;
}

.third-sec {
  font-family: "SF Pro Display", sans-serif;
  text-align: left;
  padding: 48px 0;
  padding-left: 1rem;
  display: flex;
}
.third-sec h1 {
  font-weight: normal;
  font-size: 40px;
  color: #212529;
}
.third-sec p {
  letter-spacing: 1px;
  line-height: 1.5;
  color: #566b8d;
}
.third-sec .third-left, .third-sec .third-right {
  width: 50%;
}

.third-right {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
}

.third-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.third-right .ico1,
.third-right .ico2,
.third-right .ico3,
.third-right .ico4 {
  height: 151px;
  width: 185px;
  padding: 16px 24px;
  margin: 8px;
  display: block;
  border-radius: 4px;
}
.third-right .ico1 h1, .third-right .ico1 p,
.third-right .ico2 h1,
.third-right .ico2 p,
.third-right .ico3 h1,
.third-right .ico3 p,
.third-right .ico4 h1,
.third-right .ico4 p {
  font-size: 90px;
  margin: 0;
  padding: 0;
  text-align: right;
  font-weight: 700;
  line-height: 1;
}
.third-right .ico1 h1,
.third-right .ico2 h1,
.third-right .ico3 h1,
.third-right .ico4 h1 {
  margin-top: 40px;
}
.third-right .ico1 p,
.third-right .ico2 p,
.third-right .ico3 p,
.third-right .ico4 p {
  font-size: 18px;
}

.third-right .ico1 {
  background-color: rgba(221, 236, 251, 0.4);
}
.third-right .ico1 h1, .third-right .ico1 p {
  color: #5b94d7;
}

.third-right .ico2 {
  background-color: rgba(156, 238, 204, 0.4);
}
.third-right .ico2 h1, .third-right .ico2 p {
  color: #5cc19a;
}

.third-right .ico3 {
  background-color: rgba(238, 226, 156, 0.4);
}
.third-right .ico3 h1, .third-right .ico3 p {
  color: #dbca68;
}

.third-right .ico4 {
  background-color: rgba(238, 156, 156, 0.4);
}
.third-right .ico4 h1, .third-right .ico4 p {
  color: #b95e73;
}

.fourth-sec {
  font-family: "SF Pro Display", sans-serif;
  text-align: left;
  display: flex;
  flex-direction: row;
  height: 240px;
  padding: 24px 0;
  margin: 50px auto;
}
.fourth-sec .fourth-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}
.fourth-sec .fourth-right {
  display: flex;
  flex-direction: row;
  width: 65%;
}
.fourth-sec h1, .fourth-sec h4 {
  font-weight: normal;
  font-size: 40px;
  color: #212529;
  margin: 0 0 8px 0;
}
.fourth-sec p, .fourth-sec h4, .fourth-sec img {
  font-size: 20px;
  padding: 0 48px;
}
.fourth-sec img {
  height: 15px;
  width: 28px;
}
.fourth-sec .arrow-blue {
  display: none;
}
.fourth-sec p {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #566b8d;
  min-height: 130px;
  margin: 0 0 10px 0;
}
.fourth-sec article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.fourth-sec article:hover, .fourth-sec article:focus, .fourth-sec article:active {
  box-shadow: 0px 0px 10px rgba(197, 197, 197, 0.61);
}
.fourth-sec article:hover .arrow-blue, .fourth-sec article:focus .arrow-blue, .fourth-sec article:active .arrow-blue {
  display: block;
}
.fourth-sec article:hover .arrow, .fourth-sec article:focus .arrow, .fourth-sec article:active .arrow {
  display: none;
}

.fift {
  font-family: "SF Pro Display", sans-serif;
  text-align: left;
  padding: 48px 0;
}
.fift h1 {
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  margin: 0 0 64px;
}
.fift h3 {
  margin: 0;
  font-size: 18px;
  letter-spacing: 1px;
  max-width: 50%;
}
.fift p {
  color: #566b8d;
}
.fift img {
  max-width: 526px;
  max-height: 270.25px;
}
.fift .schools {
  display: flex;
}
.fift .schools-left, .fift .schools-right {
  width: 50%;
}
.fift .schools-left p, .fift .schools-right p {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
}
.fift .schools-left p::before, .fift .schools-right p::before {
  content: url("https://openlab.sk/wp-content/themes/wp-bootstrap-starter/assets/images/place.svg");
  position: relative;
  top: 5px;
}
.fift .schools-right {
  margin-left: 48px;
}
.fift .school-web-adress {
  max-width: 526px;
  display: flex;
  justify-content: space-between;
}
.fift .school-web-adress a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3597FF;
  align-self: flex-end;
}

.sixth {
  font-family: "SF Pro Display", sans-serif;
  text-align: left;
  min-height: 556.656px;
  margin-top: 48px;
  background-color: #f3f9ff;
  position: relative;
  z-index: -1;
}
.sixth .container {
  display: flex;
  flex-direction: row;
}
.sixth h1 {
  font-weight: normal;
  font-size: 40px;
}
.sixth a {
  text-decoration: none;
}
.sixth p.review {
  letter-spacing: 1px;
  line-height: 1.5rem;
  font-size: 14px;
  font-weight: bold;
  color: #566b8d;
  padding: 0 15.766px;
  padding-top: 30px;
}
.sixth p.review::before {
  content: url("https://openlab.sk/wp-content/themes/wp-bootstrap-starter/assets/images/quote.svg");
  position: absolute;
  top: 240px;
  left: 0px;
}
.sixth .sixth-left {
  width: 526px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sixth .sixth-left .six-article-nav {
  display: flex;
  justify-content: space-between;
}
.sixth .sixth-left .six-article-nav p.name {
  letter-spacing: 1px;
  line-height: 1.5rem;
  font-size: 14px;
  font-weight: normal;
  color: #566b8d;
  padding: none;
}
.sixth .sixth-left .six-article-nav p.name::before {
  content: url("https://openlab.sk/wp-content/themes/wp-bootstrap-starter/assets/images/icon-person.svg");
  position: relative;
  top: 10px;
}
.sixth .sixth-left .six-article-nav .left-button, .sixth .sixth-left .six-article-nav .right-button {
  margin: 0;
  padding: 0;
}
.sixth .sixth-left .six-article-nav .buttons {
  align-self: center;
}
.sixth img {
  margin-left: 110px;
  padding: 0 12px;
}
.sixth aside {
  width: 100vw;
  position: absolute;
  top: -355px;
  left: calc(100vw - 350px);
}

.seventh {
  font-family: "SF Pro Display", sans-serif;
  text-align: left;
  letter-spacing: 1px;
}
.seventh h1 {
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  padding: 48px;
}
.seventh .grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.seventh .grid article {
  width: 308px;
  padding: 24px 24px 24px 24px;
  margin-top: 8px;
}
.seventh .grid article h3 {
  margin: 0;
  margin-bottom: 8px;
}
.seventh .grid article p {
  font-weight: 400;
  color: #566b8d;
  line-height: 1.5;
  min-height: 120px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.seventh .grid article .arrow-blue {
  display: none;
}
.seventh .grid article:hover, .seventh .grid article:focus, .seventh .grid article:active {
  box-shadow: 0px 0px 10px rgba(197, 197, 197, 0.61);
}
.seventh .grid article:hover .arrow-blue, .seventh .grid article:focus .arrow-blue, .seventh .grid article:active .arrow-blue {
  display: block;
}
.seventh .grid article:hover .arrow, .seventh .grid article:focus .arrow, .seventh .grid article:active .arrow {
  display: none;
}
.seventh .move1 {
  width: 519px;
  height: 418px;
  background-color: #A54FA2;
  border-radius: 6px;
  padding: 40px 32px;
}
.seventh .move1 p, .seventh .move1 h3 {
  color: #fff;
}
.seventh .move1 .heading {
  font-size: 18px;
  padding: 0;
  padding-bottom: 16px;
  margin: 0;
  border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
}
.seventh .move1 .moto {
  font-size: 28px;
  padding: 24px 0;
  margin: 0;
}
.seventh .move1 .txt {
  font-size: 16px;
  padding-bottom: 48px;
  margin: 0;
}
.seventh .move1 .name, .seventh .move1 .school {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}