// Section 7

.seventh {
    font-family: 'SF Pro Display', sans-serif;
    text-align: left;
    letter-spacing: 1px;

    & .move1,
    & .move2,
    & .move3,
    & .move4 {
        position: relative;
    }

    & .move1 .img-student,
    & .move2 .img-student,
    & .move3 .img-student,
    & .move4 .img-student {
        position: absolute;
        left: -700px;
        top: 130px;
        opacity: 0.3;
        z-index: -3;
    }

    & .move1 .img-student2,
    & .move2 .img-student2,
    & .move3 .img-student2,
    & .move4 .img-student2 {
        position: absolute;
        left: 550px;
        top: 130px;
        z-index: -1;
    }

    & .move1 .img-student3,
    & .move2 .img-student3,
    & .move3 .img-student3,
    & .move4 .img-student3 {
        position: absolute;
        left: 1800px;
        top: 130px;
        opacity: 0.3;
        z-index: -3;
    }

    & h1 {
        font-weight: normal;
        font-size: 40px;

        text-align: center;

        padding: 48px;
    }

    & .grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    & .grid article {
        // height: 242px;
        width: 308px;

        padding: 24px 24px 24px 24px;
        margin-top: 8px;

        & h3 {
            margin: 0;
            margin-bottom: 8px;
        }

        & p {
            font-weight: 400;
            color: $text-gray;
            line-height: 1.5;

            min-height: 120px;

            padding: 0;
            margin: 0;
            margin-bottom: 10px;
        }

        & .arrow-blue {
            display: none;
        }

        &:hover,
        &:focus,
        &:active {
            //border: 1px solid black;
            box-shadow: 0px 0px 10px rgba(197, 197, 197, 0.61);
            & .arrow-blue {
                display: block;
            }            
            & .arrow {
                display: none;
            }
        }
    }

    & .move1,
    & .move2,
    & .move3,
    & .move4 {
        padding-top: 100px;
        
        & .mov-art-1,
        & .mov-art-2,
        & .mov-art-3,
        & .mov-art-4 {
            width: 519px;
            height: 418px;
    
            background-color: $bg-move1;
            border-radius: 6px;
    
            padding: 40px 32px;
            position: relative;
            left: 200px;
            top: -50px;
        }

        & .mov-art-2 {
            background-color: $bg-move2;

            & .sign {
                width: 179px;
                height: 63px;
                object-fit: cover;

                position: relative;
                top: 20px;
                z-index: 0;
            }
        }

        & .mov-art-3 {
            background-color: $bg-move3;
        }

        & .mov-art-4 {
            background-color: $bg-move4;
        }

        & p,
        & h3 {
            color: $font-color-white;
        }

        & .heading {
            font-size: 18px;

            padding: 0;
            padding-bottom: 16px;
            margin: 0;

            border-bottom: 1px rgba($color: #fff, $alpha: 0.5) solid;
        }

        & .moto {
            font-size: 28px;

            padding: 24px 0;
            margin: 0;
        }

        & .txt {
            font-size: 16px;

            padding-bottom: 48px;
            margin: 0;
        }

        & .name,
        & .school {
            font-size: 16px;

            margin: 0;
            padding: 0;
        }

        & img {
            height: 500px;
            width: 1199px;
            object-fit: cover;

            border-radius: 25px;
        }

        & aside img {
            max-width: 482px;
            max-height: 482px;
            //object-fit: cover;

            border-radius: none;
        }

        & aside {
            width: 100vw;
            
            position: absolute;
            top: 450px;
            left: calc(100vw - 275px); 
            z-index: -2;    
        }

        & .dotted-nav {
            text-align: center;
            font-size: 80px;

            position: relative;
            bottom: 90px;

            & ul {
                list-style: none;

                & li a {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.5);
                }
                & li a:hover,
                & li a:focus,
                & li a:active,
                & .activ {
                    color: $btn-nav-back;
                }
            }
        }
    }


}