// Colors

$header-border: #d7eaff;

$font-color: #1a232f;
$btn-form-color: #fff;
$btn-nav-back: #3597FF;

$discord-btn-font-color: #989ca2;
$discord-btn-bg-color: rgba(152, 156, 162, 0.15);

$section-2-font-color: #566b8d;
$section-2-label-color: #212529;