
@import "_function"; 			// Functions
@import "_Variables";			// Variables (Colors include)


// Header

header {
    height: 800px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;

    font-size: 50px;

    color: aqua;

    letter-spacing: 1px;
}


